/* Fuentes importadas: */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* Fuentes: */
    --fuente1: Raleway;

    /* Paleta de Colores: */
    --color1: #FFF4EA;
    --color2: #FADFA1;
    --color3: #7EACB5;
    --color4: #C96868;
}

html {
    font-size: 62.5%;   /* Para que 1rem = 10px */
}

.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 5px; */
    padding: 16px;
}

.cabecera__logo-nombre {
    display: flex;
    flex-direction: row;
}

.cabecera__logo {
    width: 1.6rem;
}

.cabecera__titulo {
    font-family:var(--fuente1);
    font-size: 1.6rem;
}

.navegacion {
    display: none;
}

.cabecera__contacto {
    font-family: var(--fuente1);
    font-style: normal;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
}

.cabecera__contacto:visited {
    color: black;
}

.cabecera__contacto:hover {
    color: gray;
}

.cabecera__contacto:active {
    color:brown;
}

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 10px;
}

.presentacion__foto {
    width: 120px;
    border-radius: 50%; /* Redondea la imagen */
}

.presentacion__titulo {
    margin: 15px 20px 15px 20px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: 700;
    width: auto;
    text-align: center;
}

.presentacion__descripcion {
    margin: 5px 15px 15px 15px;
    padding-bottom: 10px;
    font-family: var(--fuente1);
    font-size: 1.4rem;
    line-height: 2.0rem;
    text-align: justify;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.redes__item {
    height: 20px;
    font-family:  var(--fuente1);
    font-size: 1.2rem;
    list-style: none;
}

.redes__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.redes__img {
    margin-left: 4px;
    width: 1.6rem;
}

.sobre-mi {
    margin: 5px 0px 0px 0px;
    padding-bottom: 10px;
    background-color: var(--color2);
    height: auto;
}

.sobre-mi__titulo {
    margin-left: 15px;
    padding-top: 15px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: 700;
    width: auto;
    text-align: left;
}

.sobre-mi__descripcion {
    margin: 15px;
    font-family: var(--fuente1);
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 500;
    text-align: justify;
}

.skills {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color3); 
}

.skills__titulo {
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: 700;
    width: auto;
    text-align: left;
}

.skills__tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.skills__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    font-family: var(--fuente1);
    font-weight:bold;
    font-size: 1.4rem;
    background-color: var(--color2);
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

.skills__elemento p {
    display: none;
}

.skills__elemento:active {
    transform: scale(2.0);
    z-index: 2;
    transition: .25s;

    p {
        display: block;
    }
}

.skills__img {
    width: 8rem;
}

.aficiones {
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--color4); 
}

.aficiones__titulo {
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: 700;
    width: auto;
    text-align: left;
}

.aficiones__tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.aficiones__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100px;
    padding: 10px;
    font-family: var(--fuente1);
    font-weight:bold;
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--color1);
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

.formacion {
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: var(--color1); 
}

.formacion__titulo {
    padding-bottom: 30px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: 700;
    width: auto;
    text-align: center;
}

.formacion__tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    gap: 2px;
    
    padding: 20px 0px 20px 0px;
    background-color: var(--color1);
    box-shadow: 0px 0px 15px;
    border: 1px solid var(--color4);
    border-radius: 10px;
    font-family: var(--fuente1);
    font-weight:bold;
    font-size: 1.4rem;
    text-align: center;
}

.formacion__titulacion {
    font-family: var(--fuente1);
    font-weight:bolder;
    font-size: 1.6rem;
    color: var(--color4);
}

.formacion__img {
    width: 60%;
    padding-bottom: 10px;
}