/* Fuentes importadas: */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /* Fuentes: */
    --fuente1: Raleway;

    /* Paleta de Colores: */
    --color1: #FFF4EA;
    --color2: #FADFA1;
    --color3: #7EACB5;
    --color4: #C96868;
    --color5: #000000;
    --color6: #FFFFFF;
}

html {
    /* font-size: 62.5%; */   /* Para que 1rem = 10px */
    font-size: 10px;   /* Para que 1rem = 10px */
}

.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 5px; */
    padding: 16px;
}

.cabecera__logo-nombre {
    display: flex;
    flex-direction: row;
}

.cabecera__logo {
    width: 1.6rem;
}

.cabecera__titulo {
    font-family:var(--fuente1);
    font-size: 1.6rem;
}

.navegacion {
    display: none;
}

.cabecera__contacto {
    font-family: var(--fuente1);
    font-style: normal;
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
}

.cabecera__contacto:visited {
    color: black;
}

.cabecera__contacto:hover {
    color: gray;
}

.cabecera__contacto:active {
    color:brown;
}

.presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 25px;
}

.presentacion__foto {
    width: 14rem;
    border-radius: 50%; /* Redondea la imagen */
}

.presentacion__titulo {
    margin: 15px 20px 15px 20px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: 700;
    width: auto;
    text-align: center;
}

.presentacion__descripcion {
    margin: 5px 15px 15px 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-family: var(--fuente1);
    font-size: 1.4rem;
    line-height: 2.0rem;
    text-align: justify;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.redes__item {
    height: 20px;
    font-family:  var(--fuente1);
    font-size: 1.2rem;
    list-style: none;
}

.redes__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.redes__img {
    margin-left: 4px;
    width: 1.6rem;
}

.sobre-mi {
    margin: 5px 0px 0px 0px;
    padding-bottom: 10px;
    background-color: var(--color2);
    height: auto;
}

.sobre-mi__titulo {
    margin-left: 15px;
    padding-top: 15px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.sobre-mi__descripcion {
    margin: 15px;
    font-family: var(--fuente1);
    font-size: 1.4rem;
    line-height: 2.0rem;
    font-weight: 500;
    text-align: justify;
}

.skills {
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: var(--color3); 
}

.skills__titulo {
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 35px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.skills__tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.skills__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    font-family: var(--fuente1);
    font-weight:bold;
    font-size: 1.4rem;
    background-color: var(--color2);
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

.skills__elemento p {
    display: none;
}

.skills__elemento:active {
    transform: scale(2.0);
    z-index: 2;
    transition: .25s;

    p {
        display: block;
    }
}

.skills__img {
    width: 8rem;
}

.aficiones {
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: var(--color4); 
}

.aficiones__titulo {
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 35px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.aficiones__tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.aficiones__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100px;
    padding: 10px;
    font-family: var(--fuente1);
    font-weight:bold;
    text-align: center;
    font-size: 1.4rem;
    background-color: var(--color1);
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
}

.formacion {
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: var(--color2); 
}

.formacion__titulo {
    padding-bottom: 40px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.formacion__tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    gap: 2px;
    
    padding: 20px 0px 20px 0px;
    background-color: var(--color1);
    box-shadow: 0px 0px 15px;
    border: 1px solid var(--color4);
    border-radius: 10px;
    font-family: var(--fuente1);
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}

.formacion__titulacion {
    font-family: var(--fuente1);
    font-weight:bolder;
    font-size: 1.6rem;
    color: var(--color4);
}

.formacion__img {
    width: 60%;
    padding-bottom: 10px;
}

.experiencia {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--color1);
    font-family: var(--fuente1);
    width: auto;
}

.experiencia__titulo {
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

.exp-Frontend, .exp-ingenieria {
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-left: 10px;
    padding-bottom: 60px;
    gap: 20px;
}

.exp-Frontend__enlace {
    height: 50px;
    width: 220px; 
}

.exp-Frontend__boton {
    border: 3px solid var(--color3);
    background-color: var(--color3);
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--color5);
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 15px;
}

.exp-Frontend__boton:hover {
    color: var(--color1);
}

.exp-Frontend__boton:active {
    box-shadow: -1px -2px 10px var(--color5);
}

h3 {
    font-size: 2.2rem;
    color: var(--color4);
    text-align: left;
    padding-left: 15px;
    padding-bottom: 15px;
}

.exp-ingenieria__elemento {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:5px;
    padding-left: 15px;
    line-height: 2.0rem;
    font-weight: 400;
    text-align: justify;

}

.exp-ingenieria__elemento span {
    color: var(--color4);
    font-weight: bolder;
}

.exp-ingenieria__elemento h4 {
     font-size: 1.6rem;
    align-self: self-start;
    padding-right: 50px;
}

.exp-ingenieria__elemento h5 {
    align-self: self-start;
    color: var(--color3);
    font-size: 1.2rem;
}

.exp-ingenieria__lista {
    padding-left: 25px;
    padding-right: 15px;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: var(--color3);
}

.contacto__titulo {
    padding-top: 10px;
    padding-bottom: 25px;
    font-family: var(--fuente1);
    font-size: 2.4rem;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.contacto__form {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
}

.contacto__campo {
    border: none;
    font-family: var(--fuente1);
    padding-left: 10px;
    width: 80%;
    height: 30px;
    font-size: 1.6rem;
    background-color: var(--color1);
}

.contacto__campo--textarea {
    border: none;
    font-family: var(--fuente1);
    font-size: 1.6rem;
    height: 100px;
    padding: 10px;
}

.contacto__boton {
    width: 80px;
    border: 3px solid var(--color4);
    background-color: var(--color4);
    color: var(--color1);
    border-radius: 5px;
    box-shadow: 3px 3px 5px var(--color5);
    font-size: 1.8rem;
    font-weight: 700;
}

.contacto__boton:hover {
    color: var(--color5);
}

.contacto__boton:active {
    box-shadow: -1px -2px 10px var(--color5);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    height: auto;
    padding: 25px;
    background-color: var(--color2);
    font-family:var(--fuente1);
    font-size: 1.4rem;
    font-weight: 400;
}


/* Tablets: */
@media (min-width: 768px) {
    :root {
        /* Paleta de Colores: */
        --color1: #f5eded;
        --color2: #e2dad6;
        --color3: #7fa1c3;
        --color4: #6482ad;
        --color5: #000000;
        --color6: #ffffff;
    }

    html {
        font-size: 14px; /* Para que 1rem = 14px */
    }

    .aficiones__elemento {
        width: 140px;
    }

    .formacion__titulo {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .formacion__tarjetas {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        
    }

    .formacion__elemento {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 210px;
        height: 330px;
        gap: 15px;
        padding: 20px;
    }

    .exp-Frontend__boton {
        width: 300px;
        height: 60px;
    }

    .contacto__boton {
        width: 120px;
        height: 45px;
    }
}


/* Desktops: */
@media (min-width: 1440px) {

    .navegacion {
        display: block;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 25px;
        font-family: var(--fuente1);
        color: var(--color4);
        font-size: 1.4rem;
        font-weight: 700;
        list-style: none;
    }

    .navegacion__elemento a {
        text-decoration: none;
    }

    .navegacion__elemento:hover {
        border-bottom: 2px solid var(--color4);
        cursor: pointer;
    }

    .presentacion {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content:space-around;
        gap: 20px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .presentacion__descripcion {
        width: 600px;
    }

    .sobre-mi__descripcion {
        margin-left: 50px;
        margin-right: 50px;
        font-family: var(--fuente1);
        font-size: 1.4rem;
        line-height: 2.0rem;
        font-weight: 500;
        text-align: justify;
    }
}